* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

header {
    width: 100%;
    height: 100vh;
    background-image:url(../images/beach\ shot\ with\ rocks.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0 , .25) 
    
}

header nav.navbar {
    z-index: 999;
}

header nav.navbar .navbar-brand {
    color: #fff;
    font-size: 1.4rem;
}

headernav.navbar .navbar-brand .nav-item {
    margin-right: .5rem;
}


headernav.navbar .navbar-brand .nav-item .nav-link

